<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>about us</title>
        <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css}"> 
        <link rel="stylesheet" th:href="@{/css/index.css}">
    </head>
<body>

    <div class="topnav">
        <a class="navbar-brand" th:href="@{/}">
            <img src=""   alt="" />
        </a>
        <a th:href="@{/}">Homestay Semujuk</a>
        <a th:href="@{/}">Home</a>
        <a class="active" th:href="@{/aboutus}">About us</a>
        <a th:href="@{/}">Booking</a>
        <div class="topnav-right">
            <a  th:href="@{/login}">Login</a>
            <a th:href="@{/signUp}">Sign Up</a>
        </div>
      </div>
      <span class="banner">about homestay semujuk</span>
      <span class="addresshome">Lot 821, Jalan Orkid, Felcra Lembah Kesang Semujuk, 77300 Merlimau, Melaka</span>
      <span class="description">Homestay Semujuk was founded in late 2021 by Ms
        Jalilah, and still attract some customers until today.
        The idea was initially was inspired from his uncle, who
        already open this business since she was in secondary
        school. As the time goes by, his uncle receive many
        bookings and it is difficult to accept many orders in
        one time. So she decided to build another hometay for
        a great opportunity.</span>
     
</body>
</html>