<!DOCTYPE html>   
<html xmlns:th="http://www.thymeleaf.org"> 
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Login Page </title>  
<link rel="stylesheet" th:href="@{/css/index.css}">
</head>    
<body>    
    <div class="topnav">
        <a class="navbar-brand" th:href="@{/}">
            <img src=""   alt="" />
        </a>
        <a th:href="@{/}">Homestay Semujuk</a>
        <a  th:href="@{/}">Home</a>
        <a th:href="@{/about}">About us</a>
        <a th:href="@{/homestay}">Booking</a>
        <div class="topnav-right">
            <a class="active" th:href="@{/login}">Login</a>
            <a  th:href="@{/signUp}">Sign Up</a>
        </div>
      </div>
    <center> <h1> Log in </h1> </center>   
    <form th:action="@{/login}" method="post" modelAttribute="login">  
        <div class="container">   
            <label class="form">Email Address : </label>   
            <input type="text" placeholder="Enter Email" name="email" required>  <br>
            <label class="form">Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required>  
            <br>
            <input type="radio" class="role" name="role" placeholder="Admin" >Admin
            <input type="radio" class="role" name="role" placeholder="Customer" >Customer
           <div class="justify-content-center mb-2">
            <button type="submit" style="margin-left: 235px;">Sign in</button>  <br>    
           </div>
        </div>   
    </form>     
</body>     
</html>  